@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ALIKE';
  src: url('/fonts/ALIKE-Regular.woff2') format('woff2'),
       url('/fonts/ALIKE-Regular.woff') format('woff'),
       url('/fonts/ALIKE-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALIKE';
  src: url('/fonts/ALIKE-Bold.woff2') format('woff2'),
       url('/fonts/ALIKE-Bold.woff') format('woff'),
       url('/fonts/ALIKE-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'ALIKE';
}

* {
  font-family: 'ALIKE';
}